#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    color: white;
    background-color: #3c49e6;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

select {
    color: black;
    background-color: #CCCDDE;
    font-size: 16px;
    padding: 12px 24px 12px 12px;
    text-align: left;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
