#header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#tasks-header {
    display: flex;
    justify-content: space-around;
}

button {
    color: white;
    background-color: #3c49e6;
    font-size: 16px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#no-tasks {
    background-color: #646681;
    color: white;
    padding: 2px 16px;
    border-radius: 12px;
}

#sort {
    color: black;
    background-color: #CCCDDE;
    font-size: 16px;
    padding: 12px 24px 12px 12px;
    text-align: left;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#task {
    background-color: white;
    border-radius: 8px;
    width: 90%;
}

.task-title {
    font-size: 20px;
    font-weight: bold;
}

.task-bar {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.task-name {
    background-color: white;
    margin: 8px;
    border-radius: 8px;
    width: 100%;
}
